* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    90deg,
    hsl(250, 90%, 95%) 0%,
    hsl(350, 90%, 95%) 50%,
    hsl(300, 90%, 95%) 100%
  );
  font-family: "Inter", sans-serif;
}

/* page: Authorize */
form {
  width: 30rem;
  background-color: white;
  padding: 50px;
  border-radius: 20px;
  margin-top: 8rem;
}

@media (max-width: 750px) {
  form {
    width: 65%;
  }
}

@media (max-width: 500px) {
  form {
    width: 100%;
  }
}

.Auth__SubButton {
  background: none;
  border: none;
  color: hsl(220, 90%, 50%);
  text-decoration: underline;
}

.Authorize__StatusNotification {
  margin-top: 1rem;
  position: relative;
}

.Authroize__StatusNotificationCross {
  position: absolute;
  font-size: 1.6rem;
  color: inherit;
  top: -0.5rem;
  right: 0.3rem;
  rotate: 45deg;
  background: none;
  border: none;
}

/* page: Home */
.container-md {
  margin-top: 8rem;
  background-color: white;
  height: 30rem;
}

.Home__Toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 1rem 1rem 1rem 1rem;
  border-bottom: 1px solid hsl(0, 0%, 90%);
}

.Home__ToolbarButtonGroup {
  display: flex;
  gap: 1rem;
}

.table {
  background-color: white;
  max-height: 30rem;
  border-radius: 0 0 0.5rem 0.5rem;
  width: 98%;
}

tbody > tr:nth-of-type(odd) {
  background-color: hsl(0, 0%, 99%);
}

.table > tfoot {
  height: 1.5rem;
}

.Home__SelectedRow {
  background-color: hsl(220, 80%, 80%);
}

tbody > .Home__SelectedRow:nth-of-type(odd) {
  background-color: hsl(220, 80%, 80%);
}

.Home__Checkbox {
  cursor: pointer;
}
